doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    title create
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/assets/css/create.css')
  body
    .create
      .form
        form.new-submission(action='/paper/create' method='post' enctype='multipart/form-data')
          fieldset(style='display:block')
            h1.text-uppercase.text-center.fs-title Paper Details
            if error
              .alert.alert-warning(role='alert')
                strong=error

            .form-group
              label Title
              textarea.form-control(name='title' rows='2' maxlength='200' required)
            .form-group
              label
                | Abstract
                small.text-muted  (at most 500 words)
              textarea.form-control(name='abstract' maxlength='2500' rows='7' required)
            .form-group
              label
                | Keywords
                small.text-muted  (at least 5 keywords)
              textarea.form-control(name='keywords' rows='3' minlength='20' required)
            .d-flex.justify-content-center
              button.btn.btn-primary.btn-next(type='button') Next
          fieldset
            h1.text-uppercase.text-center.fs-title Curresponding Authors
            .form-group
              label First Name
              input.form-control(type='text' value=locals.user.firstname readonly name='firstname')
            .form-group
              label Last Name
              input.form-control(type='text' value=locals.user.lastname readonly name='lastname')
            .form-group
              label Email
              input.form-control(type='email' value=locals.user.email readonly name='email')
            .d-flex.justify-content-around
              button.btn.btn-primary.btn-prev(type='button') Previous
              button.btn.btn-primary.btn-next(type='button') Next
          fieldset
            h1.text-uppercase.text-center.fs-title Upload Attachments
            .table-responsive
              table.table
                thead
                  tr
                    th Sl. No
                    th Attachments
                    th Select Files
                tbody
                  tr
                    td 1.
                    td
                      | Cover Letter
                      small.text-muted  (Optional)
                    td
                      input(type='file' name='cover-letter' accept='application/*')
                  tr
                    td 2.
                    td Manuscript
                    td
                      input(type='file' name='manuscript' accept='application/*' required)
                  tr
                    td 3.
                    td
                      | Supplementary Materials
                      small.text-muted  (Optional)
                    td
                      input(type='file' name='supplement' accept='application/*')
            .d-flex.justify-content-around
              button.btn.btn-primary.btn-prev(type='button') Previous
              button.btn.btn-primary(type='submit') Submit
        .steps
          span.step
          span.step
          span.step
    script(src='/assets/js/jquery.min.js')
    script(src='/assets/bootstrap/js/bootstrap.min.js')
    script(src='/assets/js/create.js')
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
    if title
      script.
        $(function () {
          Swal.fire({
            icon: 'warning',
            title: 'Notice',
            text: 'Only edit the fields that you want to change. Do not modify the fields you dont\'t want to change'
          });
          $('form').attr('action', '')
          $('textarea[name="title"]').val('#{title}').attr('readonly', 'true');
          $('textarea[name="abstract"]').val('#{abstract}');
          $('textarea[name="keywords"]').val('#{keywords}');
          $('input[name="manuscript"]').removeAttr('required');
        });
