doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    title dashboard
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/assets/css/dashboard.css')
  body
    div
      nav.navbar.navbar-light.navbar-expand-md.navigation-clean
        .container
          a.navbar-brand(href='/') VPublish
          button.navbar-toggler(data-toggle='collapse' data-target='#navcol-1')
            span.sr-only Toggle navigation
            span.navbar-toggler-icon
          .collapse.navbar-collapse#navcol-1
            ul.nav.navbar-nav.ml-auto
              if (locals.user.role === 'author')
                li.nav-item(role='presentation')
                  a.nav-link(href='/paper/create') New Paper
              li.nav-item(role='presentation')
                a.nav-link(href='profile') Profile
              li.nav-item(role='presentation')
                a.nav-link(href='logout') Logout
    .container.p-1.mb-4
      .papers.mt-5
        h1.text-center.text-capitalize.my-4 Paper Details
        if (!papers)
          div.border.rounded-lg.text-center.p-3.m-3.mt-5
            h4.text-center No paper exists
        else
          each paper in papers
            .paper.m-3.text-left.border.rounded-lg
              a.btn.btn-light.btn-block.text-left.font-weight-bold.toggle(role='button')
                svg.svg_icon(viewBox='0 0 20 20' fill='currentColor')
                  path(fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd')
                span=paper.title
              .paper-details.p-3(style='display: none;')
                .paper-authors.mb-4.border-bottom.border-top
                  .author
                    span.font-weight-bold Author : 
                    span=user.firstname + ' ' + user.lastname
                  if (paper.co_author)
                    .co-author
                      span.font-weight-bold Co-authors : 
                .paper-id
                  h5.font-weight-bold Paper ID :
                  .id.border.p-2.rounded-lg.overflow-auto=paper._id
                .paper-abstract
                  h5.font-weight-bold Abstract :
                  .abstract.border.p-2.rounded-lg.overflow-auto=paper.abstract
                .paper-keywords
                  h5.font-weight-bold Keywords :
                  .keywords.p-2.border.rounded-lg.overflow-auto=paper.keywords
                if (paper.cover_letter)
                  div
                    h5.font-weight-bold Cover Letter :
                    .paper-cover-letter.m-2
                      a.btn.btn-primary.btn-sm.btn-success(role='button' href=`/paper/${paper.cover_letter.filename}/view`) View
                      a.btn.btn-primary.btn-sm.btn-success(role='button' href=`/paper/${paper.cover_letter.filename}/download`) Download
                if (paper.manuscript)
                  div
                    h5.font-weight-bold Manuscript :
                    .paper-manuscript.m-2
                      a.btn.btn-primary.btn-sm.btn-success(role='button' href=`/paper/${paper.manuscript.filename}/view`) View
                      a.btn.btn-primary.btn-sm.btn-success(role='button' href=`/paper/${paper.manuscript.filename}/download`) Download
                if (paper.supplement)
                  div
                    h5.font-weight-bold Supplementary Materials :
                    .paper-supplement.m-2
                      a.btn.btn-primary.btn-sm.btn-success(role='button' href=`/paper/${paper.supplement.filename}/view`) View
                      a.btn.btn-primary.btn-sm.btn-success(role='button' href=`/paper/${paper.supplement.filename}/download`) Download
                .paper-actions.p-2.pt-5.border-top
                  a.btn.btn-info.btn-block.font-weight-bold.mb-3.action-button.paper-edit(role='button' href=`/paper/${paper._id}/edit`) Edit Paper
                  a.btn.btn-danger.btn-block.font-weight-bold.action-button.paper-delete(role='button' href=`/paper/${paper._id}/delete`) Delete Paper
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js')
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
    script(src='/assets/js/dashboard.js')
